<form [formGroup]="companyFormGroup">
  <div class="form-group mb-4">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" formControlName="name" />
  </div>

  <div class="form-group mb-4">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" formControlName="email" />
  </div>

  <div class="form-group mb-4">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" name="phone" formControlName="phone" />
  </div>

  <div class="form-group text-end mb-4">
    <button type="button" class="btn btn-primary" (click)="saveCompany()">Save</button>
  </div>
</form>

<pre>{{ companyFormGroup.value | json }}</pre>
