<form [formGroup]="companyFormGroup">
  <div class="form-group mb-4">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      name="name"
      formControlName="name"
    />

    @let nameControl = companyFormGroup.get("name");
    @if (nameControl?.touched) {
      @if (nameControl?.hasError("required")) {
        <div class="alert alert-danger">Name is required</div>
      }
      @if (nameControl?.hasError("minlength")) {
        @let error = nameControl!.getError("minlength");
        <div class="alert alert-danger">
          Name must be at least {{ error.requiredLength }} characters
        </div>
      }
    }
  </div>

  <div class="form-group mb-4">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      name="email"
      formControlName="email"
    />

    @let emailControl = companyFormGroup.get("email");
    @if (emailControl?.touched) {
      @if (emailControl?.hasError("required")) {
        <div class="alert alert-danger">Email is required</div>
      }
      @if (emailControl?.hasError("email")) {
        <div class="alert alert-danger">Email must be an email</div>
      }
    }
  </div>

  <div class="form-check mb-2">
    <input
      type="checkbox"
      class="form-check-input"
      id="checkPhone"
      formControlName="checkPhone"
    />
    <label for="checkPhone">Add phone number</label>
  </div>

  @let checkPhoneControl = companyFormGroup.get("checkPhone");
  <div class="form-group mb-4" [hidden]="!checkPhoneControl?.value">
    <label for="phone">Phone</label>
    <input
      type="text"
      class="form-control"
      name="phone"
      formControlName="phone"
    />
    @let phoneControl = companyFormGroup.get("phone");
    @if (phoneControl?.touched) {
      @if (phoneControl?.hasError("required")) {
        <div class="alert alert-danger">Phone is required</div>
      }
    }
  </div>

  <div class="form-group text-end mb-4">
    <button type="button" class="btn btn-primary" (click)="saveCompany()">
      Save
    </button>
  </div>
</form>

<pre>{{ companyFormGroup.value | json }}</pre>
<pre>{{ companyFormGroup.getRawValue() | json }}</pre>
